<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avto Modellar</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
<body>
    <header class="container">
        <div>
            <h1>Avto Salon</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/" target="_self">Asosiy</a></li>
                <li><a href="/avto_modellar" target="_self">Avto Modellar</a></li>
                <li><a href="/xizmatlar">Xizmatlar</a></li>
                <li><a href="#">Bog'lanish</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <h2>Avto Modellar</h2>
        <div>

            <ul>
                {% for category in categories %}
                    <li><a href="/avto_modellar/{{ category.category }}/">{{ category.category }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <h2>Avto ranglari</h2>
        <div>
            <ul>
                {% for color in colors %}
                    <li><a href="/avto_modellar/car_color/{{ color.color }}">{{ color.color }}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Avto Salon. Barcha huquqlar himoyalangan.</p>
    </footer>
</body>
</html>
